<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"> <!-- loading dynamic page -->
	  
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>										<!-- get "employee" from controller, override it and send it again 
													to @/save-->
<body>                                      <!--form submitted here convert to "employee" object  -->
	<form action="#" th:action="@{/save}" th:object="${employee}" method="post"> 
	ID:<input type="text" th:field="*{id}" readonly="readonly"/><br>
	Name:<input type="text" th:field="*{name}"/><br>
	Email:<input type="text" th:field="*{email}"/><br>
	Location:<input type="text" th:field="*{location}"/><br>
	<button type="submit"> Save </button>
	</form>
</body>
</html>